<nav class="navbar navbar-inverse">
<div class="container-fluid">
    <div class="form-group">
        <a href="http://localhost:3000/flower-search"><img src="/images/searchef.png"></a>
    </div>
    <div class="navbar-header">
       <a class="navbar-brand" href="http://localhost:3000/homepage"><img src="/images/tulip.png" alt="tulip"></a>
    </div>
    <div class="nav navbar-nav">
        <a href="http://localhost:3000/flower-share"><img src="/images/share.png" alt="share"></a>
    </div>
</div>
</nav>