{{_nav}}

<blockquote class="blockquote">
    <h2 class="text-center">
        “Creativity Is Intelligence Having Fun”</h2>
    <footer class="text-center">
        <cite title="Source Title">–Albert Einstein</cite>
    </footer>
</blockquote>

<div class="imagen-welcome">
    <div class="text-center img-rounded">
        <img src="/images/tulipanes6.jpg" width="450" height="450" class="rounded" alt="mandalaflower">
    </div>
</div>

    
