
<div class="intro-part">

    <form action="/" method="POST">
    <blockquote class="blockquote">
        <h3 class="text-center">"Where flowers bloom so does hope."</h3>
            <footer class="text-center">
                <p><cite title="Source Title">Lady Bird Johnson</cite></p>
            </footer>
    </blockquote>

    <div class="column d-flex justify-content-center">
        <a href="http://localhost:3000/flower-login">
            <button type="button" class=" btn-lg btn-success btn">Log In</button>
        </a>
        <a href="http://localhost:3000/flower-signup">
            <button type="button" class="btn-lg btn-success btn">Sign Up</button>
        </a>
    </div>
    </form>
</div>